body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.br-05 {
  border-radius: 5px;
}

.br-1 {
  border-radius: 10px;
}

.br-2 {
  border-radius: 20px;
}

.br-3 {
  border-radius: 30px;
}

.br-4 {
  border-radius: 40px;
}

.br-5 {
  border-radius: 50px;
}